<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How was your day?</title>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div id="wrap">
        <div id="title">
            <h1>How was your day?</h1>
            <p id="cursor"></p>
        </div>
        <div id="user_btn">
            <button id="login">로그인</button>
            <button id="register">등록</button>
        </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>