<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div id="flex_wrap">
        <div id="wrap">
            <p>로그인</p>
            <form id="input_wrap" action="/login_check" method="post">
                <label for="id">계정명</label>
                <input type="text" id="id" name="id">
                <label for="pw">비밀번호</label>
                <input type="password" id="pw" name="pw">
                <input type="submit" value="확인">
            </form>
        </div>
    </div>
</body>
</html>