<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>그날의 일기</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/readdiary.css">
</head>
<body>
    <div id="gnb">
        <a href="/diary">일기 목록</a>
    </div>
    
    <div id="content">
        <div id="date">
            <p></p>
        </div>
        <div id="form">
            <p>오늘의 기분</p>
            <div id="emotion"></div>

            <p>오늘의 한마디</p>
            <div id="sentence"></div>

            <p>오늘 가장 기뻤던 일</p>
            <div id="happy"></div>

            <p>오늘 가장 힘들었던 일</p>
            <div id="hard"></div>

            <p>내일의 나에게 하고 싶은 말</p>
            <div id="tomorrow"></div>
        </div> 
    </div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/readdiary.js"></script>
</body>
</html>