@charset "UTF-8";

#wrap {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#wrap > #title > #cursor {
    display: inline-block;
    animation: cursor 0.5s infinite;
}

@keyframes cursor {
    0% {
        border-right: 1px solid #fff
    } 
    50% {
        border-right: 1px solid #000
    } 
    100% {
        border-right: 1px solid #fff
    } 
}

#wrap > #title {
    margin: 0 10px 20px 10px;
    font-size: 90px;
    font-weight: bolder;
}

#wrap > #title > h1 {
    display: none;
}

#wrap > #user_btn > button {
    border: none;
    background-color: transparent;
    margin: 20px 60px 30px 60px;
    font-size: 2em;
    color: black;
}

@media screen and (max-width: 860px) {
    #wrap > #title {
        font-size: 70px;
    }
}

@media screen and (max-width: 650px) {
    #wrap > #title {
        font-size: 45px;
    }
    #wrap > #user_btn > button {
        margin: 0 40px 30px 40px;
        font-size: 22px;
    }
}

@media screen and (max-width: 440px) {
    #wrap > #title {
        font-size: 36px;
    }
    #wrap > #user_btn > button {
        font-size: 20px;
    }
}

@media screen and (max-width: 330px) {
    #wrap > #title {
        font-size: 27px;
    }
    #wrap > #user_btn > button {
        margin: 0 20px 30px 20px;
        font-size: 18px;
    }
}